<?xml version="1.0" ?>

<launch>

  <!-- robot spawn parameters -->
  <arg name="robot_namespace" default="/" />

  <!-- robot urdf load -->
  <param name="robot_description" command="$(find xacro)/xacro
    '$(find jetbot_ros)/model/jetbot.urdf'
    --inorder
    robot_namespace:=$(arg robot_namespace)" />

  <!-- tf publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />      

</launch>